@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Korinna';
  src: url('./src/assets/Korinna.otf');
}

@layer base {
  * {
    @apply p-0 m-0;
  }
  
  p, a, h1, h2, h3, label {
    @apply font-sans text-dark;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  .container {
    @apply transition-all;
  }
}

@layer components {
  .light-border-bg {
    @apply bg-white border-gray border-solid border-[1px] rounded p-8 pt-6
  }

  .input {
    @apply p-2 border-[1px] border-solid border-gray rounded;
  }

  .primary-btn {
    @apply w-max h-max p-2 text-light border-none rounded;
  }

  .col {
    @apply flex flex-col;
  }
  
  .board-item {
    @apply bg-highlight text-gold text-6xl font-black text-shadow-sm font-arial
      border-4 border-dark border-solid rounded-lg
      xl:text-8xl
  }

  .category {
    @apply text-4xl xl:text-6xl text-white font-normal font-korinna;
  }
}
