@font-face {
  font-family: "Korinna";
  src: url("../assets/OPTIKorinna-Agency.otf");
}

:root {
  --clue-color: #e8f2ff;
  --money-color: #ffef85;
  --accent-color: #0e60b9;
  --dark-color: #112A46;
  --accept-color: #b8e994;
  --cancel-color: #fab1a0;

  --question-font: "Korinna", Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
}

p, a, h1, h2, h3, label {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-color);
}

.wrap {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.gap-1 {
  gap: 1em;
}

.light-border-bg {
  background-color: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 30px;
  padding-top: 23px;
}

@media (max-width: 767px) {
  .m-hide {
    display: none;
  }
}